<form action="" method="post" (submit)="handleSubmit()">

    <div class="form-horizontal">
        <h4>Create/Edit Person Profile</h4>
        <hr />
  
  
        <div class="row">
            <label for="" class="control-label col-md-2">Name: </label>
            <div class="col-md-10">
                <input  class="form-control" type="text" name="name" [(ngModel)]="person.name" />
            </div>
          </div>
  
          <div class="row">
              <label for="" class="control-label col-md-2">Email*: </label>
              <div class="col-md-10">
                  <input  class="form-control" type="text" name="email" [(ngModel)]="person.email" />
              </div>
            </div>

            <div class="row">
                <label for="" class="control-label col-md-2">Country: </label>
                <div class="col-md-10">
                    <input  class="form-control" type="text" name="country" [(ngModel)]="person.country" />
                </div>
              </div>

              <div class="row">
                <label for="" class="control-label col-md-2">Avatar Link*: </label>
                <div class="col-md-10">
                    <input  class="form-control" type="text" name="avatar" [(ngModel)]="person.avatar" />
                </div>
              </div>
            
              <div class="row">
                <label for="" class="control-label col-md-2">Date Of Birth*: </label>
                <div class="col-md-10">
                    <input  class="input-date-picker" matInput [matDatepicker]="dobPicker" name="dob" [(ngModel)]="person.dob">
                    <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobPicker [calendarHeaderComponent]="header"></mat-datepicker>
                </div>
              </div>
            <hr />
        <div class="row" align="end">
            <div class="col-md-7" >
                    <button type="submit" data-display="static" class="btn btn-default" mat-raised-button color="primary" [disabled]="isDisable" cdkFocusInitial>Save</button>  
            </div>
        </div>
    </div>  
  </form>