<p>person-profile-with-routing works!</p>
<form action="" method="post" (submit)="handleSubmit()">

    <div class="form-horizontal">
        <h4>Create/Edit Person Profile</h4>
        <hr />
  
  
        <div class="row">
            <label for="" class="control-label col-md-2">Name: </label>
            <div class="col-md-10">
                <input  class="form-control" type="text" name="name" [(ngModel)]="person.name" />
            </div>
          </div>
  
          <div class="row">
              <label for="" class="control-label col-md-2">Email: </label>
              <div class="col-md-10">
                  <input  class="form-control" type="text" name="email" [(ngModel)]="person.email" />
              </div>
            </div>

            <div class="row">
                <label for="" class="control-label col-md-2">Country: </label>
                <div class="col-md-10">
                    <input  class="form-control" type="text" name="country" [(ngModel)]="person.country" />
                </div>
              </div>

              <div class="row">
                <label for="" class="control-label col-md-2">Avatar Link: </label>
                <div class="col-md-10">
                    <input  class="form-control" type="text" name="avatar" [(ngModel)]="person.avatar" />
                </div>
              </div>
            
              <div class="row">
                <label for="" class="control-label col-md-2">Date Of Birth: </label>
                <div class="col-md-10">
                    <input class="form-control" type="date" name="dob" [(ngModel)]="person.dob" />
                </div>
              </div>
            
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" [disabled]="isDisable">Save</button>
            </div>
        </div>
    </div>
  
  
  
  
  </form>